## Remove .example and rename the file to env.secret.yml
apiVersion: v1
kind: Secret
metadata:
  name: secret-env
data:
  JWT_KEY: WRITE_DOWN_THE_JWT_KEY_HERE
---
apiVersion: v1
kind: Secret
metadata:
  name: stripe-secret
data:
  STRIPE_KEY: WRITE_DOWN_THE_STRIPE_KEY_HERE
